# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Env (no subas secretos)
.env
.env.*
!.env.example

# Dependencias y builds
node_modules/
dist/
dist-ssr/
.vite/
*.tsbuildinfo

# Caches (opcionales)
.eslintcache
.cache/
.parcel-cache/
.turbo/
.pnpm-store/

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Otros
*.local

